.header{
    width: 80%;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 20px auto;
    border-bottom: 1px solid #dee2e6;
}

.container-main {
    margin: auto;
    background-color: #006266;
    height: 780px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.container-main .subBlock {
    width: 300px;
    height: 95%;
    margin: auto 0;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main .blocks {
    background-color: #acdeff;
    width: 90%;
    height: 700px;
    align-items: end;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: center;
}

.container-main .blocks .el {
    margin-inline: auto;
    text-align: center;
    color: white;
    background-color: #61686d;
    width: 60%;
    height: 140px;
    border: solid #61686d;
    opacity: 0.8;
    margin-top: 560px;
    margin-bottom: 0;
}

.container-main .block-buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 725px;
}

.container-main .block-buttons .maintenance span {

    color: white;
    text-align: right;
    width: 100%;
    font-size: small;
}

.container-main .block-buttons .floor {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: center;
}

.container-main .block-buttons .floor .floorNo {
    background-color: black;
    color: white;
    border: solid black;
    border-radius: 50px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 20px;
    float: right;
}

.container-main .block-buttons .floor .btns {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #26253d;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    font-size: 2rem;
}

.container-main .block-buttons .floor .btns:hover {
    background-color: #acdeff;
}

.container-main .block-buttons .floor .btns:hover .upSide {
    border-bottom: 16px solid #26253d;
}

.container-main .block-buttons .floor .btns>.upSide {
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 16px solid #ffffff;
}

.container-main .block-buttons .floor .btns>.downSide {
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 16px solid white;
}

.container-main .block-buttons .floor .btns:hover .downSide {
    border-top: 16px solid #26253d;
}

/* .floor button :hover {
    color: #005868;
    background-color: white;
    
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-grid;
    width: 60px;
    height: 34px;
    margin-top: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 50px;
    height: 50px;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    height: 78%;
    width: 78%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    width: 40%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 770px) {
    .container-main {
        width: 90%;
        height: 780px;
        margin: auto;
    }

    .container-main .subBlock {
        width: 130px;
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .container-main .blocks {
        background-color: #acdeff;
        width: 90%;
        height: 725px;
        align-items: end;
        display: grid;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: center;
        justify-items: center;
    }

    .container-main .blocks .el {
        background-color: #61686d;
        width: 90px;
        height: 140px;
        border: solid #61686d;
        opacity: 0.8;
        position: relative;
        bottom: 0;
    }

    .container-main .blocks .el span {
        text-align: center;
        width: 8px;
        height: 50px;
        align-items: left;
        margin: auto;
        background-color: #61686d;
        opacity: 0;
        border: none;
        color: white;
        position: absolute;
    }

    .container-main .block-buttons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: 720px;
        width: 150px;
    }

    .container-main .block-buttons .maintenance span {
        color: white;
        text-align: right;
        width: 100%;
        font-size: small;
    }

    .container-main .block-buttons .floor {
        display: flex;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .container-main .block-buttons .floor .floorNo {
        background-color: black;
        color: white;
        border: solid black;
        border-radius: 50px;
        font-size: 20px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        margin-right: 20px;
        float: right;
    }

    .container-main .block-buttons .floor .btns {
        border: none;
        background-color: black;
        color: white;
        font-size: 1rem;
    }
}